/* Main backgrounds, Fonts & Colors */
html {
   font-family: $regular-font;
   line-height: $baseline;
   color: $black;
   font-weight: normal;
   font-size: $base-font-size;
}

a, a:link { text-decoration: none; color: $black; }
a:hover { text-decoration: underline; }
a:active { color: $color1;  text-decoration: none; }

/* Titles */
.entry-title {
   font-size: 28px;
   @extend .h1-like;
}
.entry-subtitle {
   @extend .h2-like;
}

/* Content style */
.entry-content {
   @extend .content-style;
}