/* Footer */

#main-footer-container {

}
#main-footer {
   padding-top: $baseline*2;
   padding-bottom: $baseline*2;
   position: relative;
   a {

   }
}
#main-footer-first {
   float: left;
   width: 42%;
}
#main-footer-second {
   float: right;
   width: 50%;
}