/* Header */

#main-header-container {
   
}
#main-header {
   position: relative;
   margin: 0 auto $baseline;
   max-width: $very-large;
   a:hover { text-decoration: none; }
}

#main-title {

}

#main-nav {
   margin: 0;
   padding: 0 0 $baseline;
   line-height: $baseline;
   position: relative;
}