/* Main nav */

.menu {
   display: block;
   ul {
      list-style: none;
   }
   li {
      position: relative;
      @include until($large) {
         margin: 0 $baseline/2;
      }
      text-align: center;
      a {

         &:hover {

         }
      }
      &.current-menu-ancestor,
      &.current-page-ancestor,
      &.current-menu-item,
      &.current_page_item {
         a {
            
         }
      }
      .sub-menu {
         li {
            float: none;
            text-align: left;
            a {

               &:hover {

               }
            }
         }
      }
      &:hover {
         a {

         }
         .sub-menu {
            display: block;
         }
      }
   }
}