.heading-like {
   font-family: $custom-font;
   line-height: $baseline;
}
.h1-like {
   @extend .heading-like;
   font-size: 36px;
   line-height: $baseline*2;
   margin-bottom: $baseline;
}
.h2-like {
   @extend .heading-like;
   font-size: 28px;
   font-weight: 400;
   margin-top: $baseline;
   margin-bottom: $baseline;
   line-height: $baseline*2;
}
.h3-like {
   @extend .heading-like;
}
.h4-like {
   font-size: 20px;
   font-weight: bold;
   margin-bottom: $baseline;
}
.h5-like {
   font-size: $base-font-size;
   font-weight: bold;
   margin-bottom: $baseline;
}

.content-style {
   line-height: $baseline;
   font-size: $base-font-size;
   p {
      margin-bottom: $baseline;
   }
   sup, sub {
      a { text-decoration: none; }
   }
   ul, ol {
      margin-left: 3em;
      margin-bottom: $baseline;
   }
   h2,h3,h4,h5,h6 {
      color: $black;
   }
   h2 {
      @extend .h2-like;
   }
   h3 {
      @extend .h3-like;
   }
   h4 {
      @extend .h4-like;
   }
   h5 {
      @extend .h5-like;
   }
   blockquote {
      padding: 0 $baseline;
      border-left: 1px solid $black;
      margin-bottom: 1em;
      margin-left: 4em;
      font-style: italic;
      p {
         margin-bottom: 0;
      }
   }
   a {
      color: $color1;
      &:hover, &:active {
         text-decoration: underline;
      }
   }
   .alignnone {
      margin: 0 auto;
   }
   .alignright, .alignleft, .aligncenter {
      margin-bottom: $baseline*2;
   }
   .aligncenter {
      margin-top: $baseline*2;
   }
   .alignright {
      float: left;
      margin-right: $baseline;
   }
   .alignright {
      float: right;
      margin-left: $baseline;
   }
}