/* Clearfix */
.clear { clear: both; }
.clearfix:before, .clearfix:after { content: "."; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* !hide (for eyes only) */
.hide {
  border: none;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.invisible { display: none; }

.assistive-text {
   @extend .hide;
}
.balance-text {
	text-wrap: balanced;
}

