@mixin at-least($device-width) {
  @media screen and (min-width: $device-width) {
    @content 
  }
}

@mixin until($device-width) {
  @media screen and (max-width: $device-width - 1) {
    @content 
  }
}

@mixin background-image-retina($file, $type, $width, $height) {
  background-image: url('../images/' + $file + '.' + $type);
 
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    & {
      background-image: url('../images/' + $file + '@2x.' + $type);
      -webkit-background-size: $width $height;
    }
  }
}

/* !inline-block */
@mixin inline-block($alignment: none) {
  display: -moz-inline-stack;
  display: inline-block;

  @if $alignment and $alignment != none {
    vertical-align: $alignment;
  }

  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* !min-height */
@mixin min-height($height) {
  min-height: $height;
  _height: $height;
}