/* Colors */
$black: #181818;
$color1: #859780;
$color2: #656359;
$grey: #656359;
$white: #fffff4;
$bg-color: #f4f4e9;

/* Fonts */
$base-font-size: 15px;
$baseline: 24px;

$regular-font: "Helvetica", "Arial", sans-serif;
$monospace-font: "Consolas", "DejaVu Sans Mono", "Courier", monospace;
$custom-font: Arial, sans serif;